body, html {
    height: 100%;
    background-image: url("../images/bananas.png");
  }

  #main {
      background-color: aliceblue;
  }

  #timer {
      position: fixed;
      top: 0;
      right: 400px;
      font-size: 25px;
      color: red;
  }

  @media (max-width: 768px) {
      #timer {
          position: fixed;
          top: 0;
          right: 0;
          font-size: 25px;
          color: red
      }
    }